<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Device Emulator</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <script>
      window.DEFAULT_WS_URL = "{{ default_ws_url }}";
    </script>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.9.0/lib/p5.min.js"></script>
  </head>
  <body>
    <div class="wrap">
      <div id="canvasWrap"></div>
    </div>
    <script src="/static/client.js"></script>
  </body>
</html>


